.site-footer {
	background: $c_black;
	color: $c_white;
	padding: 65px 0 55px;
	position: relative;
}

.site-footer__top-link {
	color: $c_white;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: -20px;
	transform: translateX(-50%);
	text-align: center;
	text-decoration: none;

	&:visited {
		color: $c_white;
	}

	&:hover,
	&:focus {
		color: $c_b_yellow;
	}

	span {
		background: $c_b_yellow;
		border-radius: 100%;
		display: block;
		margin: 0 auto 5px;
		position: relative;
		height: 45px;
		width: 45px;
	}

	svg {
		width: 13px;
		height: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

}

.site-footer__credit {
	font-size: 14px;
	font-weight: 700;
	margin: 30px 0 0;
	text-align: center;

	@media #{$medium-up}{
		text-align: right;
	}

	a {
		color: #575757;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $c_b_yellow;
		}

	}

}
